# CRP IDs

In [1]:
import pandas as pd
import numpy as np

In [2]:
crp_id = pd.read_csv("../data/pfd/CRP_IDs.csv")
crp_id

            CID             CRPName Party Office  FECCandID  Congress
0     N00035451         Adams, Alma     D   NC12  H4NC12100       117
1     N00003028  Aderholt, Robert B     R   AL04  H6AL04098       117
2     N00033997       Aguilar, Pete     D   CA31  H2CA31125       117
3     N00033720    Allen, Richard W     R   GA12  H2GA12121       117
4     N00040989       Allred, Colin     D   TX32  H8TX32098       117
...         ...                 ...   ...    ...        ...       ...
6593  N00009824           Wu, David     D   OR01  H8OR01072       106
6594  N00007724          Wyden, Ron     D   ORS2  S6OR00110       106
6595  N00001849      Wynn, Albert R     D   MD04  H2MD05361       106
6596  N00001817     Young, C W Bill     R   FL10  H6FL06035       106
6597  N00007999          Young, Don     R   AK01  H6AK00045       106

[6598 rows x 6 columns]

In [3]:
bs_data = pd.read_csv("../data/sacerdote/bs_data.csv")
bs_data

,ticker,permno,siccd,evtdate,sell,buy,amount,amountE,firstname,lastname,...,govtrack_id,icpsr_id,votesmart_id,id,date_of_birth,district,congress,party,seniority,frequent_trader
0,CBNK,91397.0,6036.0,2012-01-03,1.0,0.0,250k+,750000.5,Richard,Hanna,...,NaN,NaN,NaN,NaN,NaN,NY24,112.0,R,NaN,1.0
1,OPY,78451.0,6211.0,2012-01-03,0.0,1.0,100k-249k,175000.5,Brad,Schneider,...,412534.0,21326.0,134948.0,S001190,1961-08-20,10,113.0,D,2.0,1.0
2,STZ,64899.0,2084.0,2012-01-03,1.0,0.0,1k-10k,8000.5,Adam,Schiff,...,400361.0,20104.0,9489.0,S001150,1960-06-22,29,112.0,D,12.0,0.0
3,HON,10145.0,3724.0,2012-01-03,0.0,1.0,1k-10k,8000.5,Alan,Lowenthal,...,412521.0,21313.0,16469.0,L000579,1941-03-08,47,113.0,D,2.0,0.0
4,NUAN,82759.0,7372.0,2012-01-03,1.0,0.0,10k-49k,32500.5,Bill,Owens,...,NaN,NaN,NaN,NaN,NaN,NY23,112.0,D,NaN,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
50600,BRK.B,NaN,NaN,2020-12-24,0.0,1.0,1k-10k,1000.0,Donald,Beyer,...,412657.0,21554.0,1707.0,B001292,1950-06-20,VA08,114.0,D,2.0,1.0
50601,OHI,77857.0,8062.0,2020-12-31,1.0,0.0,10k-49k,100000.0,Billy,Long,...,412445.0,21150.0,123401.0,L000576,1955-08-11,MO07,112.0,R,2.0,0.0
50602,SO,18411.0,4911.0,2020-12-31,1.0,0.0,1k-10k,50000.0,Billy,Long,...,412445.0,21150.0,123401.0,L000576,1955-08-11,MO07,112.0,R,2.0,0.0
50603,KMI,12558.0,4924.0,2020-12-31,1.0,0.0,50k-99k,50000.0,Billy,Long,...,412445.0,21150.0,123401.0,L000576,1955-08-11,MO07,112.0,R,2.0,0.0
50604,LUMN,60599.0,4813.0,2020-12-31,1.0,0.0,10k-49k,15000.0,Billy,Long,...,412445.0,21150.0,123401.0,L000576,1955-08-11,MO07,112.0,R,2.0,0.0