# Execute WRDS CRSP SQL Queries

In [14]:
import numpy as np
import pandas as pd

In [15]:
queries = pd.read_csv("sql_queries.csv")
queries

     ticker_q                                                sql
0     0QZI.IL  SELECT * FROM crsp.wrds_dsfv2_query WHERE tick...
1     3V64.TI  SELECT * FROM crsp.wrds_dsfv2_query WHERE tick...
2           A  SELECT * FROM crsp.wrds_dsfv2_query WHERE tick...
3          AA  SELECT * FROM crsp.wrds_dsfv2_query WHERE tick...
4       AAGIY  SELECT * FROM crsp.wrds_dsfv2_query WHERE tick...
...       ...                                                ...
1169     ZNGA  SELECT * FROM crsp.wrds_dsfv2_query WHERE tick...
1170  ZNGA.SW  SELECT * FROM crsp.wrds_dsfv2_query WHERE tick...
1171      ZTS  SELECT * FROM crsp.wrds_dsfv2_query WHERE tick...
1172     ^MWE  SELECT * FROM crsp.wrds_dsfv2_query WHERE tick...
1173     ^RGP  SELECT * FROM crsp.wrds_dsfv2_query WHERE tick...

[1174 rows x 2 columns]

In [21]:
queries_test = queries[2:51]
queries_test

   ticker_q                                                sql
2         A  SELECT * FROM crsp.wrds_dsfv2_query WHERE tick...
3        AA  SELECT * FROM crsp.wrds_dsfv2_query WHERE tick...
4     AAGIY  SELECT * FROM crsp.wrds_dsfv2_query WHERE tick...
5       AAL  SELECT * FROM crsp.wrds_dsfv2_query WHERE tick...
6       AAN  SELECT * FROM crsp.wrds_dsfv2_query WHERE tick...
7      AAON  SELECT * FROM crsp.wrds_dsfv2_query WHERE tick...
8      AAPL  SELECT * FROM crsp.wrds_dsfv2_query WHERE tick...
9       AAT  SELECT * FROM crsp.wrds_dsfv2_query WHERE tick...
10      ABB  SELECT * FROM crsp.wrds_dsfv2_query WHERE tick...
11     ABBV  SELECT * FROM crsp.wrds_dsfv2_query WHERE tick...
12      ABC  SELECT * FROM crsp.wrds_dsfv2_query WHERE tick...
13     ABCO  SELECT * FROM crsp.wrds_dsfv2_query WHERE tick...
14    ABNFX  SELECT * FROM crsp.wrds_dsfv2_query WHERE tick...
15    ABQCX  SELECT * FROM crsp.wrds_dsfv2_query WHERE tick...
16      ABT  SELECT * FROM crsp.wrds_dsfv2_query WHERE tick...
17    ABYIX  SELECT * FROM crsp.wrds_dsfv2_query WHERE tick...
18      ACA  SELECT * FROM crsp.wrds_dsfv2_query WHERE tick...
19      ACE  SELECT * FROM crsp.wrds_dsfv2_query WHERE tick...
20     ACIW  SELECT * FROM crsp.wrds_dsfv2_query WHERE tick...
21      ACN  SELECT * FROM crsp.wrds_dsfv2_query WHERE tick...
22    ACSDX  SELECT * FROM crsp.wrds_dsfv2_query WHERE tick...
23      ACT  SELECT * FROM crsp.wrds_dsfv2_query WHERE tick...
24     ADBE  SELECT * FROM crsp.wrds_dsfv2_query WHERE tick...
25      ADC  SELECT * FROM crsp.wrds_dsfv2_query WHERE tick...
26      ADI  SELECT * FROM crsp.wrds_dsfv2_query WHERE tick...
27      ADM  SELECT * FROM crsp.wrds_dsfv2_query WHERE tick...
28      ADP  SELECT * FROM crsp.wrds_dsfv2_query WHERE tick...
29      ADT  SELECT * FROM crsp.wrds_dsfv2_query WHERE tick...
30    ADT.F  SELECT * FROM crsp.wrds_dsfv2_query WHERE tick...
31      AEE  SELECT * FROM crsp.wrds_dsfv2_query WHERE tick...
32      AEP  SELECT * FROM crsp.wrds_dsfv2_query WHERE tick...
33      AET  SELECT * FROM crsp.wrds_dsfv2_query WHERE tick...
34   AEX.MU  SELECT * FROM crsp.wrds_dsfv2_query WHERE tick...
35      AFL  SELECT * FROM crsp.wrds_dsfv2_query WHERE tick...
36     AFSI  SELECT * FROM crsp.wrds_dsfv2_query WHERE tick...
37    AFTEX  SELECT * FROM crsp.wrds_dsfv2_query WHERE tick...
38     AGCO  SELECT * FROM crsp.wrds_dsfv2_query WHERE tick...
39      AGN  SELECT * FROM crsp.wrds_dsfv2_query WHERE tick...
40      AGU  SELECT * FROM crsp.wrds_dsfv2_query WHERE tick...
41    AHKSY  SELECT * FROM crsp.wrds_dsfv2_query WHERE tick...
42      AIG  SELECT * FROM crsp.wrds_dsfv2_query WHERE tick...
43      AIT  SELECT * FROM crsp.wrds_dsfv2_query WHERE tick...
44      AIV  SELECT * FROM crsp.wrds_dsfv2_query WHERE tick...
45      AIZ  SELECT * FROM crsp.wrds_dsfv2_query WHERE tick...
46      AJG  SELECT * FROM crsp.wrds_dsfv2_query WHERE tick...
47     AJRD  SELECT * FROM crsp.wrds_dsfv2_query WHERE tick...
48     AKAM  SELECT * FROM crsp.wrds_dsfv2_query WHERE tick...
49     AKRX  SELECT * FROM crsp.wrds_dsfv2_query WHERE tick...
50       AL  SELECT * FROM crsp.wrds_dsfv2_query WHERE tick...

## Fetch

In [22]:
import wrds

from IPython import display
from tqdm.notebook import tqdm

In [23]:
crsp_output = pd.DataFrame(columns=['permno', 'secinfostartdt', 'secinfoenddt', 'securitybegdt',
       'securityenddt', 'securityhdrflg', 'hdrcusip', 'hdrcusip9', 'cusip',
       'cusip9', 'primaryexch', 'conditionaltype', 'exchangetier',
       'tradingstatusflg', 'securitynm', 'shareclass', 'usincflg',
       'issuertype', 'securitytype', 'securitysubtype', 'sharetype',
       'securityactiveflg', 'delactiontype', 'delstatustype', 'delreasontype',
       'delpaymenttype', 'ticker', 'tradingsymbol', 'permco', 'siccd', 'naics',
       'icbindustry', 'nasdcompno', 'nasdissuno', 'issuernm', 'yyyymmdd',
       'dlycaldt', 'dlydelflg', 'dlyprc', 'dlyprcflg', 'dlycap', 'dlycapflg',
       'dlyprevprc', 'dlyprevprcflg', 'dlyprevdt', 'dlyprevcap',
       'dlyprevcapflg', 'dlyret', 'dlyretx', 'dlyreti', 'dlyretmissflg',
       'dlyretdurflg', 'dlyorddivamt', 'dlynonorddivamt', 'dlyfacprc',
       'dlydistretflg', 'dlyvol', 'dlyclose', 'dlylow', 'dlyhigh', 'dlybid',
       'dlyask', 'dlyopen', 'dlynumtrd', 'dlymmcnt', 'dlyprcvol', 'shrstartdt',
       'shrenddt', 'shrout', 'shrsource', 'shrfactype', 'shradrflg', 'disexdt',
       'disseqnbr', 'disordinaryflg', 'distype', 'disfreqtype',
       'dispaymenttype', 'disdetailtype', 'distaxtype', 'disorigcurtype',
       'disdivamt', 'disfacpr', 'disfacshr', 'disdeclaredt', 'disrecorddt',
       'dispaydt', 'dispermno', 'dispermco', 'vwretd', 'vwretx', 'ewretd',
       'ewretx', 'sprtrn'])

In [24]:
def fetch(queries, crsp_output):
    db = wrds.Connection(wrds_username='yiyangc')
    
    for sql in tqdm(queries["sql"], desc="Fetching CRSP"):
        r = db.raw_sql(sql, date_cols=['dlycaldt'])
        crsp_output = pd.concat([crsp_output, r]).reset_index(drop=True)
    
    db.close()
    
    return crsp_output

In [25]:
sw_crsp = fetch(queries_test, crsp_output)
sw_crsp

Loading library list...
Done

Fetching CRSP:   0%|          | 0/49 [00:00<?, ?it/s]

,permno,secinfostartdt,secinfoenddt,securitybegdt,securityenddt,securityhdrflg,hdrcusip,hdrcusip9,cusip,cusip9,...,disdeclaredt,disrecorddt,dispaydt,dispermno,dispermco,vwretd,vwretx,ewretd,ewretx,sprtrn
0,87432.0,2021-04-01,2022-06-30,1999-11-18,2022-06-30,Y,00846U10,00846U101,00846U10,00846U101,...,None,None,None,None,None,0.000776,0.000719,0.003224,0.003202,0.000005
1,87432.0,2021-04-01,2022-06-30,1999-11-18,2022-06-30,Y,00846U10,00846U101,00846U10,00846U101,...,None,None,None,None,None,0.002292,0.002271,0.003274,0.003263,0.002759
2,87432.0,2021-04-01,2022-06-30,1999-11-18,2022-06-30,Y,00846U10,00846U101,00846U10,00846U101,...,None,None,None,None,None,-0.038609,-0.038637,-0.034964,-0.035165,-0.039414
3,87432.0,2021-04-01,2022-06-30,1999-11-18,2022-06-30,Y,00846U10,00846U101,00846U10,00846U101,...,None,None,None,None,None,-0.015863,-0.016211,-0.015948,-0.016225,-0.014831
4,16347.0,2019-12-27,2022-06-30,2016-11-01,2022-06-30,Y,01387210,013872106,01387210,013872106,...,None,None,None,None,None,-0.010146,-0.010165,-0.007105,-0.007128,-0.010105
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
296,20765.0,2020-05-04,2022-06-30,1937-08-30,2022-06-30,Y,00780010,007800105,00780010,007800105,...,None,None,None,None,None,0.004688,0.004601,0.002341,0.002304,0.005492
297,87299.0,2017-03-01,2022-06-30,1999-10-29,2022-06-30,Y,00971T10,00971T101,00971T10,00971T101,...,None,None,None,None,None,-0.000385,-0.000536,-0.001230,-0.001307,-0.000687
298,87299.0,2017-03-01,2022-06-30,1999-10-29,2022-06-30,Y,00971T10,00971T101,00971T10,00971T101,...,None,None,None,None,None,-0.006749,-0.006811,-0.002874,-0.002925,-0.007915
299,10180.0,2011-01-03,2020-05-29,1988-04-08,2020-05-29,Y,00972810,009728106,00972810,009728106,...,None,None,None,None,None,0.004739,0.004674,0.007138,0.007091,0.004075
300,12641.0,2014-01-09,2022-06-30,2011-04-19,2022-06-30,Y,00912X30,00912X302,00912X30,00912X302,...,None,None,None,None,None,-0.011384,-0.011434,-0.005320,-0.005348,-0.013381

In [26]:
sw_crsp.to_csv("../data/sw_crsp.csv", index=False)